* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-red: #e3646e;
    --color-purple: #bb72e9;
    --color-blue: #3996db;
    --color-green: #82bc4f;
    --color-yelow: #eabd5f;
    --color-gray-100: #e2e4e9;
    --color-gray-200: #c0c4ce;
    --color-gray-300: #878ea1;
    --color-gray-400: #292c34;
    --color-gray-500: #16181d;
    --color-gray-600: #0d0e11;

}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

main{
    margin: auto;
}

#hero {
    padding-top: 120px;
    padding-bottom: 57px;
    background-image: url(assets/Intro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

#hero .container{
    max-width: 1040px;
    margin: auto;
   
}
.avatar{
    position: relative;
    width: 110px;
    margin:0 auto 56px auto;
}

.avatar img{
    
    display: block;
}

.avatar img:last-child{
    border-radius: 50%;
    width: 87.27px;
    height: 87.27px;
    position: absolute;
    top: 11px;
    left: 11px;
}

.hero-text{
    max-width: 680px;
    margin: auto;
}

h1{
    color: var(--color-gray-100);
    font-size: 3.5rem;
    line-height: 120%;
    font-weight: bold;
    font-family: "Asap", sans-serif;
    margin-bottom: 20px;
    margin-top: 8px;
}

h2{
    color: var(--color-gray-200);
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: 400;
    font-family: "Inconsolata", sans-serif;
}

h2 span{
    color: var(--color-red);
}

.hero-text p{
    color: var(--color-gray-300);
    font-size: 0.875rem;
    line-height: 140%;
    font-weight: 400;
    font-family: "Maven Pro", sans-serif;
}

.badges{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 80px;
}

.badge{
    padding: 8px 16px;
    display: flex;
    gap: 8px;
    background-color: var(--color-gray-400);
    border-radius: 999px;
}

.badge span{
    color: var(--color-gray-200);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Maven Pro", sans-serif;
    line-height: 140%;
}

.CaretDoubleDown{
    margin: 94px auto 0 auto;
}

#projects{
    margin:auto;
    padding-top: 72px;
    padding-bottom: 144px;
    text-align: center;
    background-color: var(--color-gray-500)
}

#projects .container{
    max-width: 1040px;
    margin: auto;
}

.project-subtitle{
    font-size: 1.25rem;
    color: var(--color-red);
    font-family: "Inconsolata", sans-serif;
    line-height: 120%;
}

.project-title{
    font-family: "Asap", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-gray-100);
    line-height: 120%;
    margin-top: 8px;
    margin-bottom: 56px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    
}

.card{
    background-color: var(--color-gray-400);
    border-radius: 12px;
    width: 330px;
    padding: 12px 12px 17px 12px;
}

.card img{
    border-radius: 8px;
    margin-bottom: 20px;
}

.card h3{
    font-family: "Asap", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-gray-100);
    line-height: 120%;
    margin-bottom: 8px;
    text-align: left;
}

.card p{
    font-family: "Maven Pro", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-gray-200);
    line-height: 140%;
    text-align: left;
}